#rate #head{
    display: block;
    font-size: 24px;
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-top: 30px;
}

#rate #head span{
    display: block;
    font-size: 12px;
    color: #8bd8bd;
    font-weight: 300;
}

#rate #domainDiv{
    display: flex;
    width: fit-content;
    margin-top: 30px;
    padding: 10px 25px 10px 10px;
    height: 20px;
    background-color: #8bd8bd;
    border-radius: 0px 24px 24px 0px;
    justify-content: 'center';
}

#rate #domainDiv p{
    margin: 0px;
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    color: #243665;
    margin-left: 10px;
    font-weight: 600;
}

#rate #mainDiv{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#rate #mainDiv #arrowBtn{
    height: fit-content;
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
    color: #8bd8bd;
    cursor: pointer;
}
#rate #mainDiv #arrowBtn :hover{
    transform: scale(1.2);
}