.App {
  width: 350px;
  text-align: center;
  /* border : 1px solid black */
  /* font-family: 'Poppins', sans-serif; */
}

.App #route{
  background-color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
